# ambiente virtual
venv/
myvenv/
.env/

# python
__pycache__/
*.pyc

# banco de dados
db.sqlite3

# arquivos do sistema
.DS_Store
Thumbs.db

# vscode
.vscode/

# migrations compiladas
*.pyo
**/migrations/__pycache__/

# Logs
*.log

# Django local static/media
media/
staticfiles/
static_root/

# Manifest files
node_modules/

# Unit test reports
htmlcov/
.tox/
.nosetests
.pytest_cache/